:root{
    --font1 : 'Druk';
    --font2 : 'Yank Regular';
    --font3 : 'Aeonik Pro';
    --font4 : 'Gilroy';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #F4F1E8;
}

/* ::-webkit-scrollbar{
    display: none;
} */

#main{
    overflow: hidden;
}


#nav{
    position: fixed;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    background-color: #F4F1E8;
}
#mainnav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    position: relative;
    overflow: hidden;
}
#icons{
    font-size: 1.5rem;
    display: flex;
    gap: 3.5vw;
}
i{
    cursor: pointer;
}
#dog{
    height: 17vh;
    position: absolute;
    top: 200%;
    left: 49%;
    transform: translate(-50%,-50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#logo{
    cursor: pointer;
}
#mainnav:hover #dog{
    top: 80%;
}
button{
    width: 9vw;
    height: 6.5vh;
    border: none;
    background-color: #C91734;
    color: #fff;
    font-family: var(--font1);
    font-size: 1.4rem;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#nav button:hover{
    background-color: #810A1E;
}
#nav #border{
    width: 95%;
    height: 2px;
    border-top: 1.5px solid #000;
    border-bottom: 3px solid #000;
}


#bottle{
    position: fixed;
    /* position: absolute; */
    top: 60%;
    left: 60%;
    transform: translate(-50%,-50%);
    height: 90vh;
    /* display: none; */
}


.page{
    width: 100vw;
    height: 100vh;
}

#page1{
    display: flex;
    margin-top: 12vh;
    padding: 0 2.5vw;
}

#page1left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#page1left #text{
    width: 60%;
    margin-top: -12vh;
    line-height: 1;
}

#page1left h2{
    font-family: var(--font2);
    font-weight: 100;
    font-size: 1.7rem;
}
#page1left h1{
    font-family: var(--font1);
    font-size: 10rem;
    background-image: url(./texture.png);
    background-color:black;
    background-position: top;
    background-size: cover;
        background-repeat: repeat;
        background-clip: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-font-smoothing: antialiased;
}
#page1left h3{
    font-family: var(--font1);
    font-size: 2rem;
    margin-bottom: 1vh;
}
#page1left p{
    font-family: var(--font3);
    line-height: 1.3;
    
}

#page1right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1right #text{
    width: 60%;
}
#mouthfeels{
    width: 33vw;
    margin-top: -8vh;
    margin-bottom: 5vh;
}
#beer-speaks{
    width: 8vw;
}


#page2{
    padding: 0 2.5vw;
    text-align: center;
    /* background-color: blue; */
}
#page2>h1{
    font-family: var(--font1);
    font-size: 24rem;
    line-height: 1;
    /* color: #D71D29; */
    background-image: url(./texture.png);
    background-color:#D71D29;
    background-position: top;
    background-size: cover;
        background-repeat: repeat;
        background-clip: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-font-smoothing: antialiased;
}
#page2btm{
    display: flex;
}
#page2 #left{
    width: 50%;
    text-align: start;
}
#page2 #left h2{
    font-family: var(--font2);
    line-height: 1;
    font-weight: 100;
    font-size: 1.7rem;
}
#page2 #right{
    width: 50%;
    margin-left: 32vw;
    text-align: start;
}
#page2 #right h1{
    font-family: var(--font1);
    line-height: 2;
}
#page2 #right p{
    font-family: var(--font3);
    width: 93%;
    font-weight: 100;
}



#page3{
    padding: 0 2.5vw;
    text-align: center;
}
#page3>h1{
    font-family: var(--font1);
    font-size: 18rem;
    line-height: 1;
    color: #D71D29;
    background-image: url(./texture.png);
    background-color:#D71D29;
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}
#page3btm{
    display: flex;
}
#page3 #left{
    width: 50%;
    text-align: start;
}
#page3 .info{
    width: 60%;
    /* background-color: red; */
    margin-bottom: 2vh;
}
#page3 .info h2{
    font-family: var(--font1);
    display: flex;
    align-items: center;
    gap: 0.3vw;
    font-size: 1.7rem;
}
#page3 .info #border{
    width: 100%;
    height: 6px;
    border-top: 1.5px solid #000;
    border-bottom: 3px solid #000;
}
#page3 #left .info #text{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}
#page3 .info h1{
    font-family: var(--font1);
    font-size: 4.3rem;
}
#page3 .info p{
    font-family: var(--font3);
    line-height: 1.5;
}
#page3 #left .info i:hover{
    color: #D71D29;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#page3 #right{
    width: 50%;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 #right .info{
    margin-left: 18vw;
    position: relative;
}
#page3 #right .info h2{
    font-family: var(--font2);
    font-size: 1.8rem;
    font-weight: 100;
    margin-left: 2vw;
    margin-bottom: 7vh;
}
#page3 #right .info h1{
    font-family: var(--font1);
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    margin-top: 3vh;
}
#page3 #right .info p{
    font-family: var(--font3);
    line-height: 1.5;
    margin-left: 2.4vw;
    margin-top: -1vh;
}
#page3 #right img{
    height: 27vh;
    position: absolute;
    top: -39%;
    left: 58%;
}



#page4{
    position: relative;
    display: flex;
    padding: 0 2.5vw;
}
#page4 #left{
    width: 50%;
}
#page4 #red1{
    width: 20vw;
    margin-top:5vh;
    margin-bottom: 28vh;
}
#page4 #red2{
    width: 22vw;
    margin-top: 20vh;
    margin-left: -3vw;
}
#page4 #right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 #black{
    width: 29vw;
}



#cup{
    position: absolute;
    height: 65vh;
    rotate: -15deg;
    top: 57%;
    left: 3.5%;
}



#page5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page5 h2{
    font-family: var(--font2);
    font-weight: 100;
    font-size: 1.8rem;
    margin-top: 20vh;
    z-index: 99;
}
#page5 h1{
    font-family: var(--font1);
    font-size: 6rem;
    line-height: 1;
    z-index: 99;
}
#page5 #products{
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-left: 5vw;
}
#page5 h3{
    font-family: var(--font3);
    font-weight: 100;
}
#chhoti_bottle{
    opacity: 0;
}



#page6{
    /* background-color: blue; */
    padding: 0 2.5vw;
    text-align: center;
}
#page6>h1{
    font-family: var(--font1);
    font-size: 20rem;
    line-height: 1;
    color: #D71D29;
    background-image: url(./texture.png);
    background-color:#D71D29;
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
    background-clip: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}
#page6 #buynow{
    width: 100%;
    height: 70%;
    overflow: hidden;
}
#page6 #before{
    width: 100%;
    height: 80%;
    /* background-color: #D71D29; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./texture.png);
    background-color:#D71D29;
    background-position: top;
    background-size: cover;
    
}
#page6 #before img{
    width: 18vw;
}
#page6 #before button{
    background-color: #000;
    color: #fff;
}
#before button:hover{
    background-color: #C8102E;
}
#page6 #after{
    width: 100%;
    height: 18%;
    background-image: url(./texture.png);
    background-color:#D71D29;
    background-position: top;
    background-size: cover;
}
#page6 #after img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#page7{
    /* height: 80vh; */
    padding: 0 2.5vw;
    display: flex;
    gap: 5vw;
    align-items: center;
    margin-bottom: -20vh;
}
#page7 img{
    height: 55vh;
    width: 60vw;
}
#page7 h2{
    font-family: var(--font2);
}
#page7 h1{
    font-size: 4rem;
    line-height: 0.8;
    font-family: copperplate gothic;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#page7 p{
    font-size: 1.1rem;
    font-family: var(--font3);
    margin-bottom: 3vh;
}
#page7 button{
    background-color: #000;
    color: #fff;
}


#footertop{
    width: 100vw;
    height: 30vh;
}
#footertop img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#footer{
    width: 100vw;
    height: 70vh;
    background-color: #000;
}
#footer::before{
    content: "";
    width: 100vw;
    height: 20vh;
    background-image: url(https://lagunitas.com/wp-content/themes/lagunitas/assets/images/footer-t.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-color: #000;
}